<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener
			class-name="com.naveenautomation.DemoProject.Listerners.WedDriverEvents" />
		
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.naveenAutomation.FrameworkDemo.YourStoreTest" />
			<class name="com.naveenautomation.DemoProject.base.BaseClass" />
			<class
				name="com.naveenAutomation.FrameworkDemo.AccountLoginTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
